body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/background\ image.gif);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 75px;
  height: 100vh;
  margin: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  background-color: #dbe4e5;

}